html,body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 6px;
    font-size: 20px;
}

button{
    padding: 15px;
    font-size: 1.3rem;
    margin-right: 5px;
}